* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Oswald', sans-serif;
  background-color: #ffffff;
  background: linear-gradient(135deg, #F7CCAC55 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(225deg, #F7CCAC 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(315deg, #F7CCAC55 25%, transparent 25%) 0px 0/ 20px 20px, linear-gradient(45deg, #F7CCAC 25%, #ffffff 25%) 0px 0/ 20px 20px;
}

body {
  border-radius: 20px;
  max-width: 400px;
  margin: 1vw auto;
  background-color: white;
}

header {
  width: 100%;
  height: 100px;
  background-image: url('./images/logo.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  filter: brightness(1.1);
  mix-blend-mode: multiply;
}

main {
  padding: 20px 35px 0;
}

h1, h3 {
  text-transform: uppercase;
}

h3 {
  color: #826F66;
  position: relative;
  font-weight: 400;
  margin-bottom: 20px;
  font-size: 1.3rem;
  letter-spacing: 2px;
}

h3::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translate(5px, -50%);
  background-image: url('./images/icons/fire.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

h1 {
  font-weight: 700;
  color: black;
  font-size: 2.3rem;
  letter-spacing: 1px;
  line-height: 3rem;
  margin-bottom: 40px;
  transform: scaleY(1.3)
}

p {
  font-family: 'Oswald', sans-serif;
  padding: 0 0 0 10px;
  border-left: 2px solid #826F66;
  margin-bottom: 40px;
  opacity: .8;
}

a {
  position: relative;
  font-family: 'Oswald', sans-serif;
  display: inline-block;
  width: 200px;
  background-color: #3A3845;
  padding: 20px 15px 20px 30px;
  border-radius: 30px;
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
  margin-bottom: 25px;
}

a::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translate(15px, -50%);
  border-radius: 50%;
  background-color: #E45826;
  background-image: url('./images/icons/white-play.png');
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}

.model-image {
  width: 80%;
  max-width: 300px;
  height: 350px;
  background-image: url('./images/modelo-portada.jpg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  filter: brightness(1.1);
  mix-blend-mode: multiply;
}